---
layout: default
---
{% if site.last_edit_timestamp or site.gh_edit_link %}
<div class="mt-2" style="height: 10px; text-align: right;">
  {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
    <p class="text-small text-grey-dk-000 mb-0 mr-2">
      Last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
    </p>
  {% endif %}
</div>
{% endif %}


{{ content }}

<hr/>
<h3>도움이 되셨다면, 댓글을 달아주세요:)</h3>
<br/>

<script src="https://utteranc.es/client.js"
        repo="JJuhey/techblog-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>